.wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    background: #FFF;
    /* background-color: maroon; */
}
.logo {
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.8em;
    color: #1875F0;
    /* background-color: thistle; */
    padding: 0% 3%;
}
.formSearch {
    /* background-color: red; */
    /* border: deeppink; */
    display: flex;
    position: relative;
    left: 5%;
}   
.inputField {
    font-family: Segoe UI;
    font-size: 1em;
    color: #979797;    
    border: none;
    /* background-color: dodgerblue; */
}
.searchIcon {
    font-family: Segoe UI;
    font-size: 1.7em;
    line-height: 16px;
    color: #979797;
    /* background-color: darkviolet; */
    margin-right: 5%;
}
.menu {
    display: flex;
    align-self: center;
    font-family: Segoe UI;
    font-size: 1.1em;
    line-height: 19px;
    color: #647787;
    /* background-color: greenyellow; */
    position: relative;
    left: 35%;
} 
.notificationIcon {
    font-size: 1.2em;
}
.notificationCount {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1875F0;
    color: #fff;
    text-align: center;
    position: relative;
    left: -13px;
    top: -8px
}
 .list {
    padding: 0% 8%;
} 

.photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: greenyellow;
}

@media screen and (max-width: 769px) {
    .wrapper {
        display: none;
    }
}