.wrapper {
    display: flex;
    /* align-self: center; */
    align-items: center;
    height: 60px;
    background: #FFF;
}
.logo {
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.8em;
    color: #1875F0;
    /* background-color: thistle; */
    padding: 0% 3%;
}
.formSearch {
    /* background-color: red; */
    position: relative;
    left: 50px;
}
.inputField {
    font-family: Segoe UI;
    font-size: 1em;
    color: #979797;    
    border: none;
}
.searchIcon {
    font-family: Segoe UI;
    font-size: 1em;
    line-height: 16px;
    color: #979797;
}
.menu {
    display: flex;
    font-family: Segoe UI;
    font-size: 1em;
    line-height: 19px;
    color: #647787;
    /* background-color: blue; */
    position: relative;

} 
.photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}