.wrapper {
    display: flex;
    /* align-self: center; */
    align-items: center;
    height: 60px;
    background: #FFF;
}
.logo {
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.8em;
    color: #1875F0;
    /* background-color: thistle; */
    padding: 0% 3%;
}
.formSearch {
    /* background-color: red; */
    position: relative;
    left: 7%;
}
.inputField {
    font-family: Segoe UI;
    font-size: 1em;
    color: #979797;    
    border: none;
}
.searchIcon {
    font-family: Segoe UI;
    font-size: 1em;
    line-height: 16px;
    color: #979797;
}
.menu {
    display: flex;
    font-family: Segoe UI;
    font-size: 1.1em;
    line-height: 19px;
    color: #647787;
    /* background-color: blue; */
    position: relative;
    left: 35%;
} 
.count {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #1875F0;
    color: #fff;
    text-align: center;
    position: relative;
    left: -13px;
    top: -8px
}
.list {
    padding: 0% 8%;
}
.photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}