.wrapper {
    width: 260px;
    min-height: 618px;
    left: 1px;
    top: 0px;
    background: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
}
.invoice {
    width: 163px;
    height: 33px;
    margin: 15% auto ;
    display: flex;
    justify-content: center;
    color:#fff;
    background: #27AE60;
    border-radius: 30px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
}
.content {
    /* background-color: lightgreen; */
    /* padding: 10% 0%; */
    /* line-height: 10px; */
}
.sideBarHeader {
display: flex;
justify-content: center;
}
.active {
    background-color: #647787;
}
.ulHeader {
    font-size: 0.9em;
    line-height: 15px;
    color: #647787;    
}
li {
    padding: 2% 0%;
    list-style: none;
    font-size: 0.9em;
    line-height: 15px;
    color: #647787;
    display: flex;
    margin: 5%;
}
.icons {
    font-size: 1.7em;
    margin-right: 3%;
}


