.wrapper {
    /* width: 260px; */
    /* position: fixed;
    background-color: white;
    z-index: 5;
    padding-top: 59px; */
    min-height: 618px;
    left: 1px;
    top: 0px;
    background: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
}
.invoice {
    width: 163px;
    height: 33px;
    margin: 15% auto ;
    display: flex;
    justify-content: center;
    color:#fff;
    background: #27AE60;
    border-radius: 30px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
}
.sideBarHeader {
display: flex;
justify-content: center;
}
.active {
    background-color: #e6f2ff;
    max-width: 100%;
    text-align: center;
    color: #414e58;
}
.ulHeader {
    font-size: 0.9em;
    line-height: 15px;
    color: #647787;    
}
li {
    padding: 2% 0%;
    list-style: none;
    font-size: 0.9em;
    line-height: 15px;
    color: #647787;
    display: flex;
    margin: 5%;
}

.linkTag {
    padding: 2% 0%;
    list-style: none;
    font-size: 14px;
    line-height: 15px;
    color: #647787;
    display: flex;
    margin: 5%;
}
.icons {
    font-size: 1.7em;
    margin-right: 3%;
}

@media screen and (max-width: 769px) {
    .wrapper {

    }
}

